<div class="card">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">pie_chart</i>
  </div>
  <div class="card-content">
    <h4 class="card-title" i18n="statistics title">Bookings status overview</h4>
    <div id="bookingsStatusOverviewChart" class="ct-chart"></div>
  </div>
</div>

<nb-loader *ngIf="isBusy"></nb-loader>

<div nbLang hidden>
  <span id="err_failed_fetching_data" i18n>Failed to get data for "Bookings status overview" chart! Please try again.</span>
</div>
