<div class="card">
  <div class="card-header card-header-icon" data-background-color="blue">
    <i class="material-icons">people_outline</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">Most Active Users</h4>
    <div class="material-datatables">
      <table id="most-active-users-datatable"
            class="table table-striped table-no-bordered table-hover"
            cellspacing="0"
            width="100%"
            style="width:100%">
        <thead>
          <tr>
            <th i18n="Users table header">
              Initials
            </th>
            <th i18n="Users table header">
              Name
            </th>
            <th i18n="Users table header">
              Number of bookings
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr *ngIf="users.length === 0">
            <td colspan="3" class="text-center text-muted" i18n>There are no users to show!</td>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.initials}}</td>
            <td>{{user.name}}</td>
            <td>{{user.numberOfBookings}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<nb-loader *ngIf="isBusy"></nb-loader>

<div nbLang hidden>
  <span id="err_failed_fetching_users" i18n>Failed to get list of most active users! Please try again.</span>
  <span id="err_failed_finding_datatable_v" i81n>Failed to find DataTable for most active users! This is an unexpected error. Please try again by reloading the page.</span>
</div>
