<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">people_outline</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Users</h4>
        <div class="toolbar">
          <button class="btn btn-primary btn-sm btn-simple" (click)="addUser()">
            <i class="fa fa-plus-circle"></i>
            <ng-container i18n="Button label">Add User</ng-container>
          </button>
          <button class="btn btn-primary btn-sm btn-simple" (click)="onUploadPopupShown()">
            <i class="fa fa-upload"></i>
            <ng-container i18n="Button label">Upload CSV File</ng-container>
          </button>
        </div>
        <div class="material-datatables">
          <table id="users-datatable" class="table table-striped table-no-bordered table-hover"
                cellspacing="0"
                width="100%"
                style="width:100%">
            <thead>
              <tr>
                <th i18n="Users table header">
                  Initials
                </th>
                <th i18n="Users table header">
                  Name
                </th>
                <th i18n="Users table header">
                  Email
                </th>
                <th i18n="Users table header">
                  Phone
                </th>
                <th i18n="Users table header">
                  Job Title
                </th>
                <th i18n="Users table header">
                  Department
                </th>
                <th i18n="Users table header" class="disabled-sorting text-right" style="width: 10%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.initials}}</td>
                <td>
                  {{user.name}}
                  <span *ngIf="user.isAdmin" class="label label-primary" i18n>
                    Admin
                  </span>
                </td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.jobTitle}}</td>
                <td>{{user.department}}</td>
                <td class="text-right">
                  <a (click)="editUser(user)" class="btn btn-simple btn-primary btn-icon edit">
                    <i class="material-icons">mode_edit</i>
                  </a>
                  <a (click)="deleteUser(user)" class="btn btn-simple btn-danger btn-icon remove">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              <tr *ngIf="users.length === 0">
                <td colspan="7" class="text-center text-muted" i18n>There are no users to show!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<nb-user-editor
  [user]="user"
  [visible]="editorToggler"
  (shown)="onEditorShown()"
  (hidden)="onEditorHidden()"
  (update)="onUpdate($event)"
></nb-user-editor>

<nb-confirm-popup
  [title]="deleteDialogTitle"
  [message]="deleteConfirmationMsg"
  (onConfirm)="onDeletionConfirmed()"
></nb-confirm-popup>

<nb-upload-file-popup
  [visible]="uploadToggler"
  [actionText]="uploadActionText"
  (shown)="onUploadPopupShown()"
  (hidden)="onUploadPopupHidden()"
  (upload)="onFileUpload($event)"
>
  <div class="card">
    <div class="card-content">
      <h4 class="card-title" i18n="Title">CSV File Format</h4>
      <p i18n>Please make sure the format of the CSV file is as shown in the example below:</p>
      <pre>
email;job;department;name;initials;phone
"johndoe@gmail.com";"developer";"development";"John Doe";"JD";"7349595459"
"janedoe@gmail.com";"developer";"development";"Jane Doe";"JD";"9159388989"
      </pre>
      <p i18n>You can also upload only a list of emails, e.g.:</p>
      <pre>
email
"johndoe@gmail.com"
"janedoe@gmail.com"
      </pre>
    </div>
  </div>
</nb-upload-file-popup>

<nb-loader *ngIf="isBusy"></nb-loader>

<div nbLang hidden>
  <span id="users_csv" i18n="CSV file name for importing users">users.csv</span>
  <span id="msg_delete_confirm" i18n>Do you really want to delete this user?</span>
  <span id="ttl_delete_confirm" i18n="Dialog title">Confirm User Deletion</span>
  <span id="msg_users_list_expanded" i18n>Please note that users list has just been extended.</span>
  <span id="err_failed_fetching_users" i18n>Failed to get users list! Please try again.</span>
  <span id="err_failed_finding_datatable" i81n>Failed to find DataTable! This is an unexpected error. Please try again by reloading the page.</span>
  <span id="err_failed_deleting_user" i18n>Failed to delete the user!</span>
  <span id="msg_csv_file_uploaded" i18n>File uploaded successfully. However, it will take a while before the users are available in the system.</span>
  <span id="err_failed_uploading_csv_file" i18n>Failed to upload the file! Please try again.</span>
</div>
