<form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form-group label-floating">
    <label class="control-label" i18n="Input label">New Password</label>
    <input type="password" class="form-control" formControlName="password">
    <span
      *ngIf="changePasswordForm.controls['password'].hasError('minlength')"
      class="help-block text-danger"
      i18n
    >
      Password must be atleast 6 characters long
    </span>
    <span
      *ngIf="!changePasswordForm.controls['password'].hasError('minlength') && changePasswordForm.controls['password'].hasError('pattern')"
      class="help-block text-danger"
      i18n
    >
      Password must contain atleast one letter and one digit
    </span>
  </div>

  <div class="form-group label-floating">
    <label class="control-label" i18n="Input label">Confirm Password</label>
    <input type="password" class="form-control" formControlName="confirmPassword">
    <span
      *ngIf="changePasswordForm.errors && changePasswordForm.errors['mismatchedPasswords'] === true"
      class="help-block text-danger"
      i18n
    >
      The two passwords do not match
    </span>
  </div>

  <button
    type="submit"
    class="btn btn-primary pull-right"
    [disabled]="!changePasswordForm.valid"
    i18n="Button label"
  >Change Password</button>

  <div class="clearfix"></div>

</form>
