<div class="wrapper" id="wrapper" nbMdpActivator>
  <div class="sidebar" id="sidebar-wrapper" data-background-color="black">
    <div class="logo">
      <a routerLink="/me/book-vehicle" class="simple-text">
        WorldTrack Booking
      </a>
    </div>
    <div class="logo logo-mini">
      <a routerLink="/me/book-vehicle" class="simple-text">
        WB
      </a>
    </div>
    <div class="sidebar-wrapper">
      <div class="user">
        <div class="photo">
          <img src="assets/img/default-avatar.png" />
        </div>
        <div class="info">
          <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            {{user?.name || '...'}}
            <b class="caret"></b>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li>
                <a routerLink="/me/settings" i18n="Menu button">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">
        <li routerLinkActive="active">
          <a routerLink="/me/book-vehicle">
            <i class="material-icons">book</i>
            <p i18n="Menu button">Book Vehicle</p>
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/me/calendar">
            <i class="material-icons">date_range</i>
            <p i18n="Menu button">Calendar</p>
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/me/bookings">
            <i class="material-icons">history</i>
            <p i18n="Menu button">My Bookings</p>
          </a>
        </li>

        <li *ngIf="user?.isAdmin">
          <a data-toggle="collapse" href="#admin-menu">
            <i class="material-icons">supervisor_account</i>
            <p>
              <ng-container i18n="Menu button">Admin</ng-container>
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="admin-menu">
            <ul class="nav">
              <li routerLinkActive="active">
                <a routerLink="/me/admin/dashboard" i18n="Menu button">Dashboard</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/me/admin/organisation" i18n="Menu button">Organisation</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/me/admin/users" i18n="Menu button">Users</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/me/admin/vehicles" i18n="Menu button">Vehicles</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/me/admin/bookings" i18n="Menu button">Bookings</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/me/admin/wialon-integration" i18n="Menu button">Worldtrack Integration</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="http://booking.worldtrackgroup.com/support" target="__blank">
            <i class="material-icons">info</i>
            <p i18n="Menu button">Info / Support</p>
          </a>
        </li>

        <li>
          <a (click)="logout()">
            <i class="material-icons">lock</i>
            <p i18n="Menu button">Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel" id="page-content-wrapper">
    <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-minimize">
          <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
              <i class="material-icons visible-on-sidebar-regular">more_vert</i>
              <i class="material-icons visible-on-sidebar-mini">view_list</i>
          </button>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            {{activatedRouteData['title']}}
          </a>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <nb-notification></nb-notification>
        <router-outlet></router-outlet>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="http://booking.worldtrackgroup.com/support" target="__blank" i18n="Menu button">
                Info / Support
              </a>
            </li>
            <nb-languages></nb-languages>
          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy;
          {{year}}
          <a href="http://booking.worldtrackgroup.com">WorldTrack Booking</a>
        </p>
      </div>
    </footer>

  </div>
</div>

<nb-confirm-popup
  [title]="confirmLogoutTitle"
  [message]="confirmLogoutMsg"
  (onConfirm)="onLogoutConfirmed()"
></nb-confirm-popup>

<div nbLang hidden>
  <span id="msg_logged_out" i18n>Logged out successfully!</span>
  <span id="msg_no_departments" i18n>Your organisation has no departments! Please create these under Admin > Organisation.</span>
  <span id="msg_no_locations" i18n>Your organisation has no locations! Please create these under Admin > Organisation.</span>
  <span id="msg_no_vehicles" i18n>Your organisation has no vehicles! Please create these under Admin > Vehicles, or integrate your WorldTrack account under Admin > WorldTrack Integration to automatically import these.</span>
  <span id="ttl_confirm_logout" i18n>Cofirm Logout</span>
  <span id="msg_confirm_logout" i18n>Are you sure about logging out from the application?</span>
  <span id="booking_state_draft" i18n="Booking status">Draft</span>
  <span id="booking_state_active" i18n="Booking status">Active</span>
  <span id="booking_state_completed" i18n="Booking status">Completed</span>
  <span id="booking_state_cancelled" i18n="Booking status">Cancelled</span>
  <span id="booking_state_unknown" i18n="Booking status">Unknown</span>
</div>
