<div class="full-page login-page">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
          <form (ngSubmit)="login(f)" #f="ngForm">
            <div class="card card-login">
              <div class="card-header text-center" data-background-color="blue">
                <h4 class="card-title" i18n="Header">Login</h4>
              </div>
              <div class="card-content">
                <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">email</i>
                  </span>
                  <div class="form-group label-floating">
                    <label class="control-label" i18n="Input label">Email address</label>
                    <input type="email" class="form-control" name="email" ngModel required>
                  </div>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                  </span>
                  <div class="form-group label-floating">
                    <label class="control-label" i18n="Input label">Password</label>
                    <input type="password" class="form-control" name="password" ngModel required>
                  </div>
                </div>
              </div>
              <div class="footer text-center">
                <button type="button" class="btn btn-default btn-simple" (click)="onPopupShown()" i18n="Button">Forgot password?</button>
                <button type="submit" class="btn btn-primary btn-simple btn-wd btn-lg" [disabled]="!f.form.valid" i18n="Login form submit button">Let's go</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nb-loader *ngIf="isBusy"></nb-loader>
</div>
<div class="full-page-background"></div>

<nb-forget-password [visible]="popupToggler" (shown)="onPopupShown()" (hidden)="onPopupHidden()">
</nb-forget-password>
